@import url('https://fonts.googleapis.com/css?family=Montserrat:40..');
body { 
font-family: 'Montserrat', sans-serif;
}
.main {
	margin:0 auto;
	width: 900px;
	height: auto;
	/*background-color: #cecece;*/
	padding: 10px;
}


.buttons-block {
	width: 880px;
	height: 30px;
	border: 1px solid black;
	margin-bottom: 10px;
	padding: 10px;	
	background-color: #dff0fa;
	margin-top:10px;
}
.button {
	float:left;
	width: 33%;
	height: 100%;
	/*border: 1px solid black;*/
	/*border-radius: 8px;*/
	text-align: center;
}

.block1 {
	width: 880px;
	height: 300px;
	border: 1px solid black;
	padding: 10px;
}
.block1>div{
	/*border: 1px solid black;*/ 
}

#proverka{
	background-color: #dff0fa;

}
#bd:hover,#pdd:hover,#sbd:hover,#proverka:hover{
	box-shadow: 0 3px 3px;
	background-color: #19628d;
	-webkit-transition: box-shadow 0.1s; 
	-moz-transition: box-shadow 0.1s; 
	-o-transition: box-shadow 0.1s;
}

#strahovka{
	background: none;
	width: 100%;
	height: 100%;
	font-size: 23pt;
	font-weight: 600;
	text-align: center;
}

#strahovka:focus{
border-bottom: 5px solid red;
color: brown;

}
#strahovka_input {
	width: 250px;
	height: 50px;
	background-image: url(../src/strax.jpg);
}

#nomer_input {
	width: 217px;
	height: 46px;
	border: 2px solid black;
	border-radius: 4px;
	background-color: ##f5f5f5;
}

#nomer {
float: left;
	width: 140px;
	height: 40px;
	border-right: 1px solid black;
	font-size: 23pt;
	font-weight: 600;
	text-align: center;


}
#region {
	width: 70px;
	height: 40px;
	background-image: url(../src/2.png);
	background-size: cover;
	font-size: 23pt;
	font-weight: 600;
	text-align: center;
}
#region:focus{
	color: black;
}
 .block2,.block3{
 	width: 48%;
 	height: auto;
 	display: inline-block;
 	margin-bottom: 20px;
 }
 .block1,.block2{
 	text-align: right;
 	font-size: 18pt;
 	font-weight: 800;
	
 }

 #proverka
 {
 	display: block;
 	width: 100%;
 	height: 30px;
 }


 #slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
 
.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
 
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
 
.showing {
    opacity: 1;
    z-index: 2;
}


.slide {
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}
 
.slide:nth-of-type(1) {
    background-image: url(../src/dps1.jpg);
    background-size: cover;

}
.slide:nth-of-type(2) {
     background-image: url(../src/dps2.jpeg);
    background-size: cover;
}
.slide:nth-of-type(3) {
     background-image: url(../src/dps3.jpg);
    background-size: cover;}
.slide:nth-of-type(4) {
     background-image: url(../src/dps4.jpg);
    background-size: cover;
}
.slide:nth-of-type(5) {
     background-image: url(../src/dps5.jpg);
    background-size: cover;
}


.lc1 {
	border: 1px solid black;
}

table {width: 500px; border-collapse: collapse;}
table td {padding: 12px 5px 12px 10px;}

table tr {border-bottom: 1px solid #e8e9eb;}
table tbody tr:hover {background: #f5f5f5;} /*e8f6ff*/
table td:first-child{
	font-weight: 800;
	width: 100px;
}

.lcm {
	display: flex;
	justify-content: center;
}